
@import url('./normalize.css');

/* Global variables */
:root {
  /*Font size*/
  --over-font-size: 62.5%;  /*Convierte 10px en 1rem o sea rem en base 10 y ya no en base 16*/

  /*Base colors*/

}

html {
  font-size: var(--over-font-size)
}

/* Mobile First*/
html,
body {
  margin: 0;
}

body {
  font-size: 1.6rem;
}

/* Header */
/* Main */
/* Footer */

/* MEDIA QUERIES ****************************************************************************************************************************/
/********************************************************************************************************************************************/
/********************************************************************************************************************************************/

@media (width > 567px) { /*******************************************************************************************************************/

  /* Header */
  /* Main */
  /* Footer */
}

@media (width > 768px) { /*******************************************************************************************************************/

  /* Header */
  /* Main */
  /* Footer */
}

@media (width > 1024px) { /*******************************************************************************************************************/

  /* Header */
  /* Main */
  /* Footer */
}

@media (width > 1200px) { /*******************************************************************************************************************/

  /* Header */
  /* Main */
  /* Footer */
}

@media (width > 1400px) { /*******************************************************************************************************************/

  /* Header */
  /* Main */
  /* Footer */
}

@media (width > 1600px) { /*******************************************************************************************************************/

  /* Header */
  /* Main */
  /* Footer */
}

@media (width > 1920px) { /*******************************************************************************************************************/

  /* Header */
  /* Main */
  /* Footer */
}